<!DOCTYPE html>
<!-- NOTE: searches/main.html, main.html 파일이 여러 개 존재할 때 혼동을 방지하기 위해 본 주석을 작성합니다. -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>검색 페이지</title>
</head>
<body>
    <h2>임시 식당 목록</h2>
    <p>하이퍼링크를 누른 후 인텔리제이의 디버그 콘솔 창의 로그를 확인하세요.</p>
    <ul>
        <li><a th:href="@{/reserves/reserve(dining_id=1)}" >식당 #1의 예약 페이지로 이동</a></li>
        <li><a th:href="@{/reserves/reserve(dining_id=2)}" >식당 #2의 예약 페이지로 이동</a></li>
        <li><a th:href="@{/reserves/reserve(dining_id=3)}" >식당 #3의 예약 페이지로 이동</a></li>
        <li><a th:href="@{/reserves/reserve(dining_id=4)}" >식당 #4의 예약 페이지로 이동</a></li>
        <li><a th:href="@{/reserves/reserve(dining_id=100)}" >식당 #100의 예약 페이지로 이동</a></li>
        <li><a th:href="@{/reserves/reserve(dining_id=200)}" >식당 #200의 예약 페이지로 이동</a></li>
        <li><a th:href="@{/reserves/reserve(dining_id=300)}" >식당 #300의 예약 페이지로 이동</a></li>
        <li><a th:href="@{/reserves/reserve(dining_id=400)}" >식당 #400의 예약 페이지로 이동</a></li>
    </ul>
</body>
</html>